.pos-a {
	position: absolute;
}

.pos-r {
	position: relative;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.m-hoz-auto {
	margin-left: auto;
	margin-right: auto;
}

.bacc-white {
	background-color: white;
}
.bacc-red {
	background-color: red;
}

.oh {
	overflow: hidden;
}
.apple-container {
	margin-top: 100px;
}

.apple-leaf {
	border-top-left-radius: 100%;
	border-bottom-right-radius: 100%;
	height: 55px;
	left: 49%;
	top: -43px;
	width: 45px;
	z-index: 6;
}

.apple-body-top {
	height: 15px;
    width: 130px;
}

.apple-body-top-left {
	height: 15px;
	width: 65px;
	z-index: 4;
}

.apple-body-top-left-inside {
	border-radius: 50%;
	height: 75px;
	margin-top: 8px;
	margin-left: -17px;
	width: 82px;
}

.apple-body-top-right {
	height: 15px;
	width: 65px;
	z-index: 4;
}

.apple-body-top-right-inside {
	border-radius: 50%;
	height: 75px;
	margin-top: 8px;
	margin-left: 1px;
	width: 82px;
}

.apple-body-top-center {
	height: 15px;
	left: 20px;
	top: 4px;
	width: 85px;
	z-index: 5;
}

.apple-body-top-center-inside {
	border-radius: 50%;
	height: 95px;
	margin-left: 1px;
	margin-top: -80px;
	width: 87px;
	z-index: 5;
}

.apple-body {
	height: 150px;
	width: 200px;
	z-index: 3;
}

.apple-body-inside {
	border-top-left-radius: 60px 70px;
	border-top-right-radius: 60px 70px;
	border-bottom-left-radius: 100px 115px;
	border-bottom-right-radius: 100px 115px;
	height: 175px;
	margin-top: -5px;
	width: 200px;
	z-index: 3;
}

.apple-body-bottom {
	height: 15px;
	width: 130px;
}

.apple-body-bottom-left {
	height: 15px;
	width: 65px;
	z-index: 4;
}

.apple-body-bottom-left-inside {
	border-radius: 50%;
	height: 75px;
	margin-top: -66px;
	margin-left: -7px;
	width: 70px;
}

.apple-body-bottom-right {
	height: 15px;
	width: 65px;
	z-index: 4;
}

.apple-body-bottom-right-inside {
	border-radius: 50%;
	height: 75px;
	margin-top: -66px;
	margin-left: 2px;
	width: 70px;
}

.apple-body-bottom-center {
	height: 15px;
	left: 28px;
	top: -3px;
	width: 70px;
	z-index: 5;
}

.apple-body-bottom-center-inside {
	border-radius: 50%;
	height: 95px;
	margin-left: -6px;
	width: 87px;
}


.heart-body {
    position: absolute;
    left: 102px;
    top: 14px;
    position: relative;
    transform: scale(0.5);
}


.heart-shape:before {
    left: -45px;
}

.heart-shape:after {
    top: -45px;
    left: 0;
}

.heart-shape:before,
.heart-shape:after {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
}
.heart-shape {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #fff;
    transform: rotate(45deg);
}
