body {
  background: #f6f7f9;
}

table {
  font-size: 16px;
}

.sidebar {
  width: 22vw;
  min-width: 200px;
}

.content {
  padding-top: 16px;
  padding-right: 24px;
  padding-left: 16px;
  left: 22vw;
}

.markdown-section {
  font-size: 18px;
  color: #191d21;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  background: #f9f9f5;
  padding: 3vw 5vw;
  max-width: 1024px;
}

@media screen and (max-width: 768px) {
  .markdown-section {
    padding: 24px;
  }
}
.markdown-section p,
.markdown-section li {
  line-height: 32px;
  text-align: justify;
}

.markdown-section li {
  margin: 8px 0;
}

.markdown-section strong {
  color: black;
}

.markdown-section h1 span {
  font-weight: 600;
}

.markdown-section h2 span {
  color: #938846;
}

.markdown-section h3 span {
  color: #880d00;
}

.markdown-section h4 span {
  color: #b900ff;
}

.markdown-section h5 span {
  color: #357b2d;
}

.markdown-section code {
  font-size: 0.9em;
}

.markdown-section pre > code {
  font-size: 0.86rem;
}

.sidebar-nav li {
  cursor: pointer;
}

/* vue plugin */
.demo-block .description {
  display: none;
}

.demo-block .highlight {
  width: 100% !important;
}

/* fix black theme fold arrow */

.sidebar-nav li > a[href^='#/']:not([href*='?id=']):not(:only-child) {
  background-image: var(
    --sidebar-nav-pagelink-background-image--collapse,
    var(--sidebar-nav-pagelink-background-image--loaded, var(--sidebar-nav-pagelink-background-image))
  );
  background-position: var(
    --sidebar-nav-pagelink-background-position--collapse,
    var(--sidebar-nav-pagelink-background-position--loaded, var(--sidebar-nav-pagelink-background-image))
  );
}

.sidebar-nav li.open > a[href^='#/']:not([href*='?id=']):not(:only-child) {
  background-image: var(
    --sidebar-nav-pagelink-background-image--active,
    var(--sidebar-nav-pagelink-background-image--loaded, var(--sidebar-nav-pagelink-background-image))
  );
  background-position: var(
    --sidebar-nav-pagelink-background-position--active,
    var(--sidebar-nav-pagelink-background-position--loaded, var(--sidebar-nav-pagelink-background-image))
  );
}
