/* global */
.markdown-section {
  max-width: 960px;
}

.markdown-section a {
  text-decoration: none;
  font-weight: normal;
}
.markdown-section a:hover {
  text-decoration: underline;
}

.markdown-section blockquote {
  background: #f1f4ff;
  padding: 1px 20px;
}

.sidebar-nav li img {
  width: 14px;
  width: 14px;
  position: absolute;
  top: 8px;
  left: -8px;
  z-index: 1;
}
