body {
  background: #f6f7f9;
}

.sidebar {
  width: 22vw;
  min-width: 200px;
}

.content {
  padding-top: 16px;
  padding-right: 24px;
  padding-left: 16px;
  left: 22vw;
}

.markdown-section {
  color: #191d21;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  background: #fefefe;
  padding: 3vw 5vw;
  max-width: 1024px;
}

@media screen and (max-width: 768px) {
  .markdown-section {
    padding: 24px;
  }
}

.markdown-section li {
  margin: 4px 0;
}

.markdown-section strong {
  color: black;
}

.markdown-section h1 span {
  font-size: 1.8rem;
}

.markdown-section h2 span {
  font-size: 1.4rem;
  color: #938846;
}

.markdown-section h3 span {
  font-size: 1.2rem;
  color: #880d00;
}

.markdown-section h4 span {
  font-size: 1.1rem;
  color: #773098;
}

.markdown-section h5 span {
  font-size: 1rem;
  color: #357b2d;
}

.sidebar .file > ul.app-sub-sidebar {
  margin-left: 0;
}

/* vuep */
.markdown-section .vuep {
  height: auto;
  flex-direction: column;
}

.vuep .vuep-editor {
  margin-right: 0;
}
.vuep-editor,
.vuep-preview,
.vuep-error {
  width: auto;
}
